


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'SaaS IWE - Multi-tenant Education Platform';



CREATE TYPE "public"."enrollment_status" AS ENUM (
    'QUEUED',
    'PROCESSING',
    'DONE',
    'FAILED'
);


ALTER TYPE "public"."enrollment_status" OWNER TO "postgres";


CREATE TYPE "public"."field_type" AS ENUM (
    'text',
    'email',
    'phone',
    'select',
    'date',
    'file',
    'checkbox',
    'textarea',
    'number'
);


ALTER TYPE "public"."field_type" OWNER TO "postgres";


CREATE TYPE "public"."message_status" AS ENUM (
    'PENDING',
    'SENT',
    'FAILED',
    'DELIVERED'
);


ALTER TYPE "public"."message_status" OWNER TO "postgres";


CREATE TYPE "public"."payment_provider" AS ENUM (
    'mercadopago',
    'manual'
);


ALTER TYPE "public"."payment_provider" OWNER TO "postgres";


CREATE TYPE "public"."payment_status" AS ENUM (
    'PENDENTE',
    'PAGO',
    'CANCELADO',
    'REEMBOLSADO'
);


ALTER TYPE "public"."payment_status" OWNER TO "postgres";


CREATE TYPE "public"."user_role" AS ENUM (
    'superadmin',
    'admin',
    'user'
);


ALTER TYPE "public"."user_role" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_file_url"("storage_path" "text") RETURNS "text"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    RETURN '/storage/v1/object/authenticated/form-submissions/' || storage_path;
END;
$$;


ALTER FUNCTION "public"."get_file_url"("storage_path" "text") OWNER TO "postgres";


COMMENT ON FUNCTION "public"."get_file_url"("storage_path" "text") IS 'Generates authenticated URL for file access';



CREATE OR REPLACE FUNCTION "public"."is_admin_of_tenant"("tenant_uuid" "uuid") RETURNS boolean
    LANGUAGE "sql" SECURITY DEFINER
    AS $$
SELECT EXISTS (
SELECT 1
FROM public.admin_tenants at
JOIN public.users u ON u.id = at.user_id
WHERE u.auth_user_id = auth.uid()
AND at.tenant_id = tenant_uuid
);
$$;


ALTER FUNCTION "public"."is_admin_of_tenant"("tenant_uuid" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_updated_at_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_updated_at_column"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."user_role"() RETURNS "public"."user_role"
    LANGUAGE "sql" SECURITY DEFINER
    AS $$
SELECT role FROM public.users WHERE auth_user_id = auth.uid();
$$;


ALTER FUNCTION "public"."user_role"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."admin_tenants" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "tenant_id" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."admin_tenants" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."audit_logs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "tenant_id" "uuid",
    "user_id" "uuid",
    "action" character varying(100) NOT NULL,
    "resource_type" character varying(100) NOT NULL,
    "resource_id" "uuid",
    "changes" "jsonb",
    "ip_address" "inet",
    "user_agent" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."audit_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."submissions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "tenant_id" "uuid" NOT NULL,
    "form_definition_id" "uuid" NOT NULL,
    "data" "jsonb" DEFAULT '{}'::"jsonb" NOT NULL,
    "polo" character varying(255),
    "payment_status" "public"."payment_status" DEFAULT 'PENDENTE'::"public"."payment_status",
    "payment_provider" "public"."payment_provider" DEFAULT 'mercadopago'::"public"."payment_provider",
    "payment_reference" character varying(255),
    "payment_external_id" character varying(255),
    "payment_amount" numeric(10,2),
    "payment_date" timestamp with time zone,
    "metadata" "jsonb" DEFAULT '{}'::"jsonb",
    "ip_address" "inet",
    "user_agent" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."submissions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."tenants" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" character varying(255) NOT NULL,
    "slug" character varying(100) NOT NULL,
    "status" boolean DEFAULT true,
    "settings" "jsonb" DEFAULT '{}'::"jsonb",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."tenants" OWNER TO "postgres";


COMMENT ON TABLE "public"."tenants" IS 'Polos (tenants) do sistema multi-tenant';



CREATE OR REPLACE VIEW "public"."dashboard_metrics" AS
 SELECT "t"."id" AS "tenant_id",
    "t"."name" AS "tenant_name",
    "count"(DISTINCT "s"."id") AS "total_submissions",
    "count"(DISTINCT
        CASE
            WHEN ("s"."payment_status" = 'PAGO'::"public"."payment_status") THEN "s"."id"
            ELSE NULL::"uuid"
        END) AS "paid_submissions",
    "count"(DISTINCT
        CASE
            WHEN ("s"."payment_status" = 'PENDENTE'::"public"."payment_status") THEN "s"."id"
            ELSE NULL::"uuid"
        END) AS "pending_submissions",
    COALESCE("sum"(
        CASE
            WHEN ("s"."payment_status" = 'PAGO'::"public"."payment_status") THEN "s"."payment_amount"
            ELSE (0)::numeric
        END), (0)::numeric) AS "total_revenue",
    "round"(((("count"(DISTINCT
        CASE
            WHEN ("s"."payment_status" = 'PAGO'::"public"."payment_status") THEN "s"."id"
            ELSE NULL::"uuid"
        END))::numeric / (NULLIF("count"(DISTINCT "s"."id"), 0))::numeric) * (100)::numeric), 2) AS "conversion_rate"
   FROM ("public"."tenants" "t"
     LEFT JOIN "public"."submissions" "s" ON (("s"."tenant_id" = "t"."id")))
  WHERE ("t"."status" = true)
  GROUP BY "t"."id", "t"."name";


ALTER VIEW "public"."dashboard_metrics" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."enrollment_logs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "tenant_id" "uuid" NOT NULL,
    "submission_id" "uuid" NOT NULL,
    "status" "public"."enrollment_status" DEFAULT 'QUEUED'::"public"."enrollment_status",
    "request_payload" "jsonb",
    "response_payload" "jsonb",
    "error_message" "text",
    "attempt_count" integer DEFAULT 0,
    "last_attempt_at" timestamp with time zone,
    "completed_at" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."enrollment_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."file_uploads" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "submission_id" "uuid",
    "tenant_id" "uuid",
    "field_name" "text" NOT NULL,
    "file_name" "text" NOT NULL,
    "file_size" bigint NOT NULL,
    "file_type" "text" NOT NULL,
    "storage_path" "text" NOT NULL,
    "uploaded_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."file_uploads" OWNER TO "postgres";


COMMENT ON TABLE "public"."file_uploads" IS 'Tracks files uploaded through form submissions';



CREATE TABLE IF NOT EXISTS "public"."form_definitions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "tenant_id" "uuid",
    "name" character varying(255) NOT NULL,
    "slug" character varying(100) NOT NULL,
    "description" "text",
    "redirect_url_after_flow" "text",
    "is_active" boolean DEFAULT true,
    "settings" "jsonb" DEFAULT '{}'::"jsonb",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."form_definitions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."form_fields" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "form_definition_id" "uuid" NOT NULL,
    "label" character varying(255) NOT NULL,
    "name" character varying(100) NOT NULL,
    "type" "public"."field_type" NOT NULL,
    "required" boolean DEFAULT false,
    "placeholder" "text",
    "options" "jsonb" DEFAULT '[]'::"jsonb",
    "validation_rules" "jsonb" DEFAULT '{}'::"jsonb",
    "order_index" integer DEFAULT 0 NOT NULL,
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."form_fields" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."mercadopago_configs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "tenant_id" "uuid" NOT NULL,
    "access_token" "text" NOT NULL,
    "public_key" "text",
    "webhook_secret" "text",
    "is_production" boolean DEFAULT false,
    "is_active" boolean DEFAULT true,
    "metadata" "jsonb" DEFAULT '{}'::"jsonb",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."mercadopago_configs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."message_logs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "tenant_id" "uuid" NOT NULL,
    "submission_id" "uuid",
    "template_id" "uuid",
    "recipient_phone" character varying(50) NOT NULL,
    "message_content" "text" NOT NULL,
    "status" "public"."message_status" DEFAULT 'PENDING'::"public"."message_status",
    "external_message_id" character varying(255),
    "error_message" "text",
    "sent_at" timestamp with time zone,
    "delivered_at" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."message_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."message_templates" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "tenant_id" "uuid" NOT NULL,
    "key" character varying(100) NOT NULL,
    "title" character varying(255) NOT NULL,
    "content" "text" NOT NULL,
    "variables" "jsonb" DEFAULT '[]'::"jsonb",
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."message_templates" OWNER TO "postgres";


COMMENT ON TABLE "public"."message_templates" IS 'Templates de mensagens WhatsApp com placeholders din├ómicos';



CREATE TABLE IF NOT EXISTS "public"."outbound_webhook_configs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "tenant_id" "uuid" NOT NULL,
    "enrollment_webhook_url" "text" NOT NULL,
    "enrollment_webhook_token" "text",
    "timeout_ms" integer DEFAULT 30000,
    "retries" integer DEFAULT 3,
    "is_active" boolean DEFAULT true,
    "metadata" "jsonb" DEFAULT '{}'::"jsonb",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."outbound_webhook_configs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."payment_events" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "submission_id" "uuid",
    "event_id" character varying(255) NOT NULL,
    "event_type" character varying(100) NOT NULL,
    "provider" "public"."payment_provider" NOT NULL,
    "raw_payload" "jsonb" NOT NULL,
    "processed_at" timestamp with time zone DEFAULT "now"(),
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."payment_events" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."schedule_jobs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "tenant_id" "uuid" NOT NULL,
    "template_id" "uuid",
    "recipient_phones" "text"[] NOT NULL,
    "scheduled_for" timestamp with time zone NOT NULL,
    "executed_at" timestamp with time zone,
    "status" character varying(50) DEFAULT 'PENDING'::character varying,
    "metadata" "jsonb" DEFAULT '{}'::"jsonb",
    "created_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."schedule_jobs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."users" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "auth_user_id" "uuid",
    "email" character varying(255) NOT NULL,
    "name" character varying(255) NOT NULL,
    "phone" character varying(20),
    "role" "public"."user_role" DEFAULT 'user'::"public"."user_role",
    "is_active" boolean DEFAULT true,
    "avatar_url" "text",
    "metadata" "jsonb" DEFAULT '{}'::"jsonb",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."users" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."whatsapp_configs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "tenant_id" "uuid" NOT NULL,
    "api_base_url" "text" NOT NULL,
    "instance_id" character varying(255) NOT NULL,
    "token" "text" NOT NULL,
    "default_sender" character varying(50),
    "is_active" boolean DEFAULT true,
    "metadata" "jsonb" DEFAULT '{}'::"jsonb",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."whatsapp_configs" OWNER TO "postgres";


ALTER TABLE ONLY "public"."admin_tenants"
    ADD CONSTRAINT "admin_tenants_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."admin_tenants"
    ADD CONSTRAINT "admin_tenants_user_id_tenant_id_key" UNIQUE ("user_id", "tenant_id");



ALTER TABLE ONLY "public"."audit_logs"
    ADD CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."enrollment_logs"
    ADD CONSTRAINT "enrollment_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."file_uploads"
    ADD CONSTRAINT "file_uploads_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."form_definitions"
    ADD CONSTRAINT "form_definitions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."form_definitions"
    ADD CONSTRAINT "form_definitions_tenant_id_slug_key" UNIQUE ("tenant_id", "slug");



ALTER TABLE ONLY "public"."form_fields"
    ADD CONSTRAINT "form_fields_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."mercadopago_configs"
    ADD CONSTRAINT "mercadopago_configs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."mercadopago_configs"
    ADD CONSTRAINT "mercadopago_configs_tenant_id_key" UNIQUE ("tenant_id");



ALTER TABLE ONLY "public"."message_logs"
    ADD CONSTRAINT "message_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."message_templates"
    ADD CONSTRAINT "message_templates_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."message_templates"
    ADD CONSTRAINT "message_templates_tenant_id_key_key" UNIQUE ("tenant_id", "key");



ALTER TABLE ONLY "public"."outbound_webhook_configs"
    ADD CONSTRAINT "outbound_webhook_configs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."outbound_webhook_configs"
    ADD CONSTRAINT "outbound_webhook_configs_tenant_id_key" UNIQUE ("tenant_id");



ALTER TABLE ONLY "public"."payment_events"
    ADD CONSTRAINT "payment_events_event_id_key" UNIQUE ("event_id");



ALTER TABLE ONLY "public"."payment_events"
    ADD CONSTRAINT "payment_events_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."schedule_jobs"
    ADD CONSTRAINT "schedule_jobs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."submissions"
    ADD CONSTRAINT "submissions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."tenants"
    ADD CONSTRAINT "tenants_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."tenants"
    ADD CONSTRAINT "tenants_slug_key" UNIQUE ("slug");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_email_key" UNIQUE ("email");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."whatsapp_configs"
    ADD CONSTRAINT "whatsapp_configs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."whatsapp_configs"
    ADD CONSTRAINT "whatsapp_configs_tenant_id_key" UNIQUE ("tenant_id");



CREATE INDEX "idx_admin_tenants_tenant" ON "public"."admin_tenants" USING "btree" ("tenant_id");



CREATE INDEX "idx_admin_tenants_user" ON "public"."admin_tenants" USING "btree" ("user_id");



CREATE INDEX "idx_audit_logs_action" ON "public"."audit_logs" USING "btree" ("action");



CREATE INDEX "idx_audit_logs_created" ON "public"."audit_logs" USING "btree" ("created_at" DESC);



CREATE INDEX "idx_audit_logs_tenant" ON "public"."audit_logs" USING "btree" ("tenant_id");



CREATE INDEX "idx_audit_logs_user" ON "public"."audit_logs" USING "btree" ("user_id");



CREATE INDEX "idx_enrollment_logs_status" ON "public"."enrollment_logs" USING "btree" ("status");



CREATE INDEX "idx_enrollment_logs_submission" ON "public"."enrollment_logs" USING "btree" ("submission_id");



CREATE INDEX "idx_enrollment_logs_tenant" ON "public"."enrollment_logs" USING "btree" ("tenant_id");



CREATE INDEX "idx_file_uploads_submission" ON "public"."file_uploads" USING "btree" ("submission_id");



CREATE INDEX "idx_file_uploads_tenant" ON "public"."file_uploads" USING "btree" ("tenant_id");



CREATE INDEX "idx_form_definitions_active" ON "public"."form_definitions" USING "btree" ("is_active");



CREATE UNIQUE INDEX "idx_form_definitions_global_slug_unique" ON "public"."form_definitions" USING "btree" ("slug") WHERE ("tenant_id" IS NULL);



CREATE INDEX "idx_form_definitions_slug" ON "public"."form_definitions" USING "btree" ("slug");



CREATE INDEX "idx_form_definitions_tenant" ON "public"."form_definitions" USING "btree" ("tenant_id");



CREATE INDEX "idx_form_fields_form" ON "public"."form_fields" USING "btree" ("form_definition_id");



CREATE INDEX "idx_form_fields_order" ON "public"."form_fields" USING "btree" ("form_definition_id", "order_index");



CREATE INDEX "idx_mercadopago_configs_tenant" ON "public"."mercadopago_configs" USING "btree" ("tenant_id");



CREATE INDEX "idx_message_logs_created" ON "public"."message_logs" USING "btree" ("created_at" DESC);



CREATE INDEX "idx_message_logs_status" ON "public"."message_logs" USING "btree" ("status");



CREATE INDEX "idx_message_logs_submission" ON "public"."message_logs" USING "btree" ("submission_id");



CREATE INDEX "idx_message_logs_tenant" ON "public"."message_logs" USING "btree" ("tenant_id");



CREATE INDEX "idx_message_templates_key" ON "public"."message_templates" USING "btree" ("key");



CREATE INDEX "idx_message_templates_tenant" ON "public"."message_templates" USING "btree" ("tenant_id");



CREATE INDEX "idx_outbound_webhook_configs_tenant" ON "public"."outbound_webhook_configs" USING "btree" ("tenant_id");



CREATE INDEX "idx_payment_events_event_id" ON "public"."payment_events" USING "btree" ("event_id");



CREATE INDEX "idx_payment_events_submission" ON "public"."payment_events" USING "btree" ("submission_id");



CREATE INDEX "idx_schedule_jobs_scheduled" ON "public"."schedule_jobs" USING "btree" ("scheduled_for");



CREATE INDEX "idx_schedule_jobs_status" ON "public"."schedule_jobs" USING "btree" ("status");



CREATE INDEX "idx_schedule_jobs_tenant" ON "public"."schedule_jobs" USING "btree" ("tenant_id");



CREATE INDEX "idx_submissions_created" ON "public"."submissions" USING "btree" ("created_at" DESC);



CREATE INDEX "idx_submissions_external_id" ON "public"."submissions" USING "btree" ("payment_external_id");



CREATE INDEX "idx_submissions_form" ON "public"."submissions" USING "btree" ("form_definition_id");



CREATE INDEX "idx_submissions_status" ON "public"."submissions" USING "btree" ("payment_status");



CREATE INDEX "idx_submissions_tenant" ON "public"."submissions" USING "btree" ("tenant_id");



CREATE INDEX "idx_tenants_slug" ON "public"."tenants" USING "btree" ("slug");



CREATE INDEX "idx_tenants_status" ON "public"."tenants" USING "btree" ("status");



CREATE INDEX "idx_users_auth_user_id" ON "public"."users" USING "btree" ("auth_user_id");



CREATE INDEX "idx_users_email" ON "public"."users" USING "btree" ("email");



CREATE INDEX "idx_users_role" ON "public"."users" USING "btree" ("role");



CREATE INDEX "idx_whatsapp_configs_tenant" ON "public"."whatsapp_configs" USING "btree" ("tenant_id");



CREATE OR REPLACE TRIGGER "update_form_definitions_updated_at" BEFORE UPDATE ON "public"."form_definitions" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_form_fields_updated_at" BEFORE UPDATE ON "public"."form_fields" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_mercadopago_configs_updated_at" BEFORE UPDATE ON "public"."mercadopago_configs" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_message_templates_updated_at" BEFORE UPDATE ON "public"."message_templates" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_outbound_webhook_configs_updated_at" BEFORE UPDATE ON "public"."outbound_webhook_configs" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_submissions_updated_at" BEFORE UPDATE ON "public"."submissions" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_tenants_updated_at" BEFORE UPDATE ON "public"."tenants" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_users_updated_at" BEFORE UPDATE ON "public"."users" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_whatsapp_configs_updated_at" BEFORE UPDATE ON "public"."whatsapp_configs" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



ALTER TABLE ONLY "public"."admin_tenants"
    ADD CONSTRAINT "admin_tenants_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "public"."tenants"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."admin_tenants"
    ADD CONSTRAINT "admin_tenants_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."audit_logs"
    ADD CONSTRAINT "audit_logs_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "public"."tenants"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."audit_logs"
    ADD CONSTRAINT "audit_logs_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."enrollment_logs"
    ADD CONSTRAINT "enrollment_logs_submission_id_fkey" FOREIGN KEY ("submission_id") REFERENCES "public"."submissions"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."enrollment_logs"
    ADD CONSTRAINT "enrollment_logs_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "public"."tenants"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."file_uploads"
    ADD CONSTRAINT "file_uploads_submission_id_fkey" FOREIGN KEY ("submission_id") REFERENCES "public"."submissions"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."file_uploads"
    ADD CONSTRAINT "file_uploads_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "public"."tenants"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."form_definitions"
    ADD CONSTRAINT "form_definitions_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "public"."tenants"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."form_fields"
    ADD CONSTRAINT "form_fields_form_definition_id_fkey" FOREIGN KEY ("form_definition_id") REFERENCES "public"."form_definitions"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."mercadopago_configs"
    ADD CONSTRAINT "mercadopago_configs_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "public"."tenants"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."message_logs"
    ADD CONSTRAINT "message_logs_submission_id_fkey" FOREIGN KEY ("submission_id") REFERENCES "public"."submissions"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."message_logs"
    ADD CONSTRAINT "message_logs_template_id_fkey" FOREIGN KEY ("template_id") REFERENCES "public"."message_templates"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."message_logs"
    ADD CONSTRAINT "message_logs_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "public"."tenants"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."message_templates"
    ADD CONSTRAINT "message_templates_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "public"."tenants"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."outbound_webhook_configs"
    ADD CONSTRAINT "outbound_webhook_configs_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "public"."tenants"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."payment_events"
    ADD CONSTRAINT "payment_events_submission_id_fkey" FOREIGN KEY ("submission_id") REFERENCES "public"."submissions"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."schedule_jobs"
    ADD CONSTRAINT "schedule_jobs_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "public"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."schedule_jobs"
    ADD CONSTRAINT "schedule_jobs_template_id_fkey" FOREIGN KEY ("template_id") REFERENCES "public"."message_templates"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."schedule_jobs"
    ADD CONSTRAINT "schedule_jobs_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "public"."tenants"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."submissions"
    ADD CONSTRAINT "submissions_form_definition_id_fkey" FOREIGN KEY ("form_definition_id") REFERENCES "public"."form_definitions"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."submissions"
    ADD CONSTRAINT "submissions_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "public"."tenants"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_auth_user_id_fkey" FOREIGN KEY ("auth_user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."whatsapp_configs"
    ADD CONSTRAINT "whatsapp_configs_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "public"."tenants"("id") ON DELETE CASCADE;



CREATE POLICY "Admins can delete form_fields of their tenants" ON "public"."form_fields" FOR DELETE USING ((("public"."user_role"() = 'admin'::"public"."user_role") AND (EXISTS ( SELECT 1
   FROM "public"."form_definitions" "fd"
  WHERE (("fd"."id" = "form_fields"."form_definition_id") AND "public"."is_admin_of_tenant"("fd"."tenant_id"))))));



CREATE POLICY "Admins can delete their tenant submissions" ON "public"."submissions" FOR DELETE USING ((("public"."user_role"() = 'admin'::"public"."user_role") AND "public"."is_admin_of_tenant"("tenant_id")));



CREATE POLICY "Admins can insert form_definitions for their tenants" ON "public"."form_definitions" FOR INSERT WITH CHECK ((("public"."user_role"() = 'admin'::"public"."user_role") AND ("tenant_id" IS NOT NULL) AND "public"."is_admin_of_tenant"("tenant_id")));



CREATE POLICY "Admins can insert form_fields for their tenants" ON "public"."form_fields" FOR INSERT WITH CHECK ((("public"."user_role"() = 'admin'::"public"."user_role") AND (EXISTS ( SELECT 1
   FROM "public"."form_definitions" "fd"
  WHERE (("fd"."id" = "form_fields"."form_definition_id") AND "public"."is_admin_of_tenant"("fd"."tenant_id"))))));



CREATE POLICY "Admins can select global form_definitions" ON "public"."form_definitions" FOR SELECT USING ((("public"."user_role"() = 'admin'::"public"."user_role") AND ("tenant_id" IS NULL)));



CREATE POLICY "Admins can update form_definitions for their tenants" ON "public"."form_definitions" FOR UPDATE USING ((("public"."user_role"() = 'admin'::"public"."user_role") AND ("tenant_id" IS NOT NULL) AND "public"."is_admin_of_tenant"("tenant_id"))) WITH CHECK ((("public"."user_role"() = 'admin'::"public"."user_role") AND ("tenant_id" IS NOT NULL) AND "public"."is_admin_of_tenant"("tenant_id")));



CREATE POLICY "Admins can update form_fields of their tenants" ON "public"."form_fields" FOR UPDATE USING ((("public"."user_role"() = 'admin'::"public"."user_role") AND (EXISTS ( SELECT 1
   FROM "public"."form_definitions" "fd"
  WHERE (("fd"."id" = "form_fields"."form_definition_id") AND "public"."is_admin_of_tenant"("fd"."tenant_id")))))) WITH CHECK ((("public"."user_role"() = 'admin'::"public"."user_role") AND (EXISTS ( SELECT 1
   FROM "public"."form_definitions" "fd"
  WHERE (("fd"."id" = "form_fields"."form_definition_id") AND "public"."is_admin_of_tenant"("fd"."tenant_id"))))));



CREATE POLICY "Admins can update their tenant submissions" ON "public"."submissions" FOR UPDATE USING ((("public"."user_role"() = 'admin'::"public"."user_role") AND "public"."is_admin_of_tenant"("tenant_id")));



CREATE POLICY "Admins can view form_fields of global forms" ON "public"."form_fields" FOR SELECT USING ((("public"."user_role"() = 'admin'::"public"."user_role") AND (EXISTS ( SELECT 1
   FROM "public"."form_definitions" "fd"
  WHERE (("fd"."id" = "form_fields"."form_definition_id") AND ("fd"."tenant_id" IS NULL))))));



CREATE POLICY "Admins can view form_fields of their tenants" ON "public"."form_fields" FOR SELECT USING ((("public"."user_role"() = 'admin'::"public"."user_role") AND (EXISTS ( SELECT 1
   FROM "public"."form_definitions" "fd"
  WHERE (("fd"."id" = "form_fields"."form_definition_id") AND "public"."is_admin_of_tenant"("fd"."tenant_id"))))));



CREATE POLICY "Admins can view their admin_tenants" ON "public"."admin_tenants" FOR SELECT USING ((("public"."user_role"() = 'admin'::"public"."user_role") AND (EXISTS ( SELECT 1
   FROM "public"."users" "u"
  WHERE (("u"."id" = "admin_tenants"."user_id") AND ("u"."auth_user_id" = "auth"."uid"()))))));



CREATE POLICY "Admins can view their tenant submissions" ON "public"."submissions" FOR SELECT USING ((("public"."user_role"() = 'admin'::"public"."user_role") AND "public"."is_admin_of_tenant"("tenant_id")));



CREATE POLICY "Admins can view their tenants" ON "public"."tenants" FOR SELECT USING ((("public"."user_role"() = 'admin'::"public"."user_role") AND ("id" IN ( SELECT "at"."tenant_id"
   FROM ("public"."admin_tenants" "at"
     JOIN "public"."users" "u" ON (("u"."id" = "at"."user_id")))
  WHERE ("u"."auth_user_id" = "auth"."uid"())))));



CREATE POLICY "Anyone can create submissions" ON "public"."submissions" FOR INSERT WITH CHECK (true);



CREATE POLICY "Superadmins can delete form_fields" ON "public"."form_fields" FOR DELETE USING (("public"."user_role"() = 'superadmin'::"public"."user_role"));



CREATE POLICY "Superadmins can insert form_fields" ON "public"."form_fields" FOR INSERT WITH CHECK (("public"."user_role"() = 'superadmin'::"public"."user_role"));



CREATE POLICY "Superadmins can insert global form_definitions" ON "public"."form_definitions" FOR INSERT WITH CHECK ((("public"."user_role"() = 'superadmin'::"public"."user_role") AND ("tenant_id" IS NULL)));



CREATE POLICY "Superadmins can manage tenants" ON "public"."tenants" USING (("public"."user_role"() = 'superadmin'::"public"."user_role"));



CREATE POLICY "Superadmins can update form_fields" ON "public"."form_fields" FOR UPDATE USING (("public"."user_role"() = 'superadmin'::"public"."user_role")) WITH CHECK (("public"."user_role"() = 'superadmin'::"public"."user_role"));



CREATE POLICY "Superadmins can update global form_definitions" ON "public"."form_definitions" FOR UPDATE USING ((("public"."user_role"() = 'superadmin'::"public"."user_role") AND ("tenant_id" IS NULL))) WITH CHECK ((("public"."user_role"() = 'superadmin'::"public"."user_role") AND ("tenant_id" IS NULL)));



CREATE POLICY "Superadmins can view all admin_tenants" ON "public"."admin_tenants" FOR SELECT USING (("public"."user_role"() = 'superadmin'::"public"."user_role"));



CREATE POLICY "Superadmins can view all form_fields" ON "public"."form_fields" FOR SELECT USING (("public"."user_role"() = 'superadmin'::"public"."user_role"));



CREATE POLICY "Superadmins can view all submissions" ON "public"."submissions" FOR SELECT USING (("public"."user_role"() = 'superadmin'::"public"."user_role"));



CREATE POLICY "Superadmins can view all tenants" ON "public"."tenants" FOR SELECT USING (("public"."user_role"() = 'superadmin'::"public"."user_role"));



CREATE POLICY "Superadmins can view all users" ON "public"."users" FOR SELECT TO "authenticated" USING (("public"."user_role"() = 'superadmin'::"public"."user_role"));



CREATE POLICY "Tenant-based access for form_definitions" ON "public"."form_definitions" USING ((("public"."user_role"() = 'superadmin'::"public"."user_role") OR (("public"."user_role"() = 'admin'::"public"."user_role") AND "public"."is_admin_of_tenant"("tenant_id"))));



CREATE POLICY "Tenant-based access for mercadopago_configs" ON "public"."mercadopago_configs" USING ((("public"."user_role"() = 'superadmin'::"public"."user_role") OR (("public"."user_role"() = 'admin'::"public"."user_role") AND "public"."is_admin_of_tenant"("tenant_id"))));



CREATE POLICY "Tenant-based access for message_templates" ON "public"."message_templates" USING ((("public"."user_role"() = 'superadmin'::"public"."user_role") OR (("public"."user_role"() = 'admin'::"public"."user_role") AND "public"."is_admin_of_tenant"("tenant_id"))));



CREATE POLICY "Tenant-based access for whatsapp_configs" ON "public"."whatsapp_configs" USING ((("public"."user_role"() = 'superadmin'::"public"."user_role") OR (("public"."user_role"() = 'admin'::"public"."user_role") AND "public"."is_admin_of_tenant"("tenant_id"))));



CREATE POLICY "Users can delete their tenant file uploads" ON "public"."file_uploads" FOR DELETE TO "authenticated" USING ("public"."is_admin_of_tenant"("tenant_id"));



CREATE POLICY "Users can insert file uploads" ON "public"."file_uploads" FOR INSERT TO "authenticated" WITH CHECK ("public"."is_admin_of_tenant"("tenant_id"));



CREATE POLICY "Users can read own profile" ON "public"."users" FOR SELECT TO "authenticated" USING (("auth_user_id" = "auth"."uid"()));



CREATE POLICY "Users can read own user record" ON "public"."users" FOR SELECT TO "authenticated" USING (("auth"."uid"() = "auth_user_id"));



CREATE POLICY "Users can read their tenant file uploads" ON "public"."file_uploads" FOR SELECT TO "authenticated" USING ("public"."is_admin_of_tenant"("tenant_id"));



ALTER TABLE "public"."admin_tenants" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."audit_logs" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."enrollment_logs" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."file_uploads" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."form_definitions" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."form_fields" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."mercadopago_configs" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."message_logs" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."message_templates" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."outbound_webhook_configs" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."payment_events" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."schedule_jobs" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."submissions" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."tenants" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."users" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."whatsapp_configs" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."get_file_url"("storage_path" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."get_file_url"("storage_path" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_file_url"("storage_path" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."is_admin_of_tenant"("tenant_uuid" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."is_admin_of_tenant"("tenant_uuid" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."is_admin_of_tenant"("tenant_uuid" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "service_role";



GRANT ALL ON FUNCTION "public"."user_role"() TO "anon";
GRANT ALL ON FUNCTION "public"."user_role"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."user_role"() TO "service_role";



GRANT ALL ON TABLE "public"."admin_tenants" TO "anon";
GRANT ALL ON TABLE "public"."admin_tenants" TO "authenticated";
GRANT ALL ON TABLE "public"."admin_tenants" TO "service_role";



GRANT ALL ON TABLE "public"."audit_logs" TO "anon";
GRANT ALL ON TABLE "public"."audit_logs" TO "authenticated";
GRANT ALL ON TABLE "public"."audit_logs" TO "service_role";



GRANT ALL ON TABLE "public"."submissions" TO "anon";
GRANT ALL ON TABLE "public"."submissions" TO "authenticated";
GRANT ALL ON TABLE "public"."submissions" TO "service_role";



GRANT ALL ON TABLE "public"."tenants" TO "anon";
GRANT ALL ON TABLE "public"."tenants" TO "authenticated";
GRANT ALL ON TABLE "public"."tenants" TO "service_role";



GRANT ALL ON TABLE "public"."dashboard_metrics" TO "anon";
GRANT ALL ON TABLE "public"."dashboard_metrics" TO "authenticated";
GRANT ALL ON TABLE "public"."dashboard_metrics" TO "service_role";



GRANT ALL ON TABLE "public"."enrollment_logs" TO "anon";
GRANT ALL ON TABLE "public"."enrollment_logs" TO "authenticated";
GRANT ALL ON TABLE "public"."enrollment_logs" TO "service_role";



GRANT ALL ON TABLE "public"."file_uploads" TO "anon";
GRANT ALL ON TABLE "public"."file_uploads" TO "authenticated";
GRANT ALL ON TABLE "public"."file_uploads" TO "service_role";



GRANT ALL ON TABLE "public"."form_definitions" TO "anon";
GRANT ALL ON TABLE "public"."form_definitions" TO "authenticated";
GRANT ALL ON TABLE "public"."form_definitions" TO "service_role";



GRANT ALL ON TABLE "public"."form_fields" TO "anon";
GRANT ALL ON TABLE "public"."form_fields" TO "authenticated";
GRANT ALL ON TABLE "public"."form_fields" TO "service_role";



GRANT ALL ON TABLE "public"."mercadopago_configs" TO "anon";
GRANT ALL ON TABLE "public"."mercadopago_configs" TO "authenticated";
GRANT ALL ON TABLE "public"."mercadopago_configs" TO "service_role";



GRANT ALL ON TABLE "public"."message_logs" TO "anon";
GRANT ALL ON TABLE "public"."message_logs" TO "authenticated";
GRANT ALL ON TABLE "public"."message_logs" TO "service_role";



GRANT ALL ON TABLE "public"."message_templates" TO "anon";
GRANT ALL ON TABLE "public"."message_templates" TO "authenticated";
GRANT ALL ON TABLE "public"."message_templates" TO "service_role";



GRANT ALL ON TABLE "public"."outbound_webhook_configs" TO "anon";
GRANT ALL ON TABLE "public"."outbound_webhook_configs" TO "authenticated";
GRANT ALL ON TABLE "public"."outbound_webhook_configs" TO "service_role";



GRANT ALL ON TABLE "public"."payment_events" TO "anon";
GRANT ALL ON TABLE "public"."payment_events" TO "authenticated";
GRANT ALL ON TABLE "public"."payment_events" TO "service_role";



GRANT ALL ON TABLE "public"."schedule_jobs" TO "anon";
GRANT ALL ON TABLE "public"."schedule_jobs" TO "authenticated";
GRANT ALL ON TABLE "public"."schedule_jobs" TO "service_role";



GRANT ALL ON TABLE "public"."users" TO "anon";
GRANT ALL ON TABLE "public"."users" TO "authenticated";
GRANT ALL ON TABLE "public"."users" TO "service_role";



GRANT ALL ON TABLE "public"."whatsapp_configs" TO "anon";
GRANT ALL ON TABLE "public"."whatsapp_configs" TO "authenticated";
GRANT ALL ON TABLE "public"."whatsapp_configs" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







